body.focus-plugin-enabled .focus-plugin-dimmed {
    opacity: 0.1;
}

body.focus-plugin-enabled .focus-plugin-focus-animation {
    animation: focus-plugin-keyframes 0.5s both ease-in-out;
}

body.focus-plugin-enabled .focus-plugin-dim-animation {
    animation: focus-plugin-keyframes 0.5s reverse both ease-in-out;
}

@keyframes focus-plugin-keyframes {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
